/* Community */

section>div{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.Community {
    background-color: var(--background-color-community);
}

.Community__wrapper {
    background-image: url(../../img/Icons.png);
    padding: 106px 140px 42px 150px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.Community__title {
    color: var(--text-color);
    font-family: Inter;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
}

.Community__description {
    color: var(--text-color);
    font-family: Inter;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    max-width: 250px;
}

.Community__tg-link {
    color: var(--text-color);
    font-family: Inter;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
}

.Community__block-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 430px;
    margin-top: 30px;
}

.Community__tg-block {
    text-align: center;
}

.Community__image {
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 15px;
}


/* CARDS */
.Cards {
    background-color: var(--background-color-cards);
}

.Cards__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding: 70px 150px;
}

.Cards__list__elem {
    border-radius: 20px;
    background-color: var(--background-color-cards-item);
    display: flex;
    flex-direction: column;
    max-width: 320px;

}

.Cards__list__elem-img {
    max-width: 320px;
    border-radius: 20px 20px 0 0;
}

.Cards__list__elem-text {
    font-family: var(--font-family);
    max-height: 218px;
    font-size: 2rem;
    font-weight: 300;
    text-align: left;
    margin: 20px;

}

.Cards__list__elem-bold_text {
    font-family: var(--font-family);
    font-weight: 700;
    text-wrap: wrap;
}

.Card__list__elem-dash {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2rem;
}

.Cards__wrapper {
    position: relative;
    z-index: 0;
}

.Cards__popular {
    position: absolute;
    z-index: 1;
    left: 113px;
    top: 48px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.3rem;
    color: #fff;
    width: 200px;
    height: 50px;
    background-color: #343434;
    border-radius: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SLIDER */
.Carousel {
    margin: 0 auto;
}

.Carousel__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 574px;
    background-image: url(../../img/Slider_background.jpeg);
    padding-bottom: 27px;
    background-position: center;
}

.carousel__list {
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    height: 457px;
    justify-content: center;
    perspective: 300px;
}

.carousel__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0rem;
    width: 303px;
    height: 454px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
    position: absolute;
    transition: all .3s ease-in;

    &:nth-child(1) {
        background: url(../../img/Slider_1.jpeg) no-repeat;
        background-size: contain;
        border-radius: 20px;
    }

    &:nth-child(2) {
        background: url(../../img/Slider_2.jpeg) no-repeat;
        background-size: contain;
        border-radius: 24px;
    }

    &:nth-child(3) {
        background: url(../../img/Slider_3.jpeg) no-repeat;
        background-size: contain;
        border-radius: 34px;
    }

    &:nth-child(4) {
        background: url(../../img/Slider_4.jpeg) no-repeat;
        background-size: contain;
        border-radius: 24px;
    }

    &:nth-child(5) {
        background: url(../../img/Slider_5.jpeg) no-repeat;
        background-size: contain;
        border-radius: 34px;
    }

    &[data-pos="0"] {
        z-index: 5;
    }

    &[data-pos="-1"],
    &[data-pos="1"] {
        cursor: pointer;
        opacity: 0.7;
        filter: blur(1px) grayscale(10%);
    }

    &[data-pos="-1"] {
        cursor: pointer;
        transform: translateX(-40%) scale(.9);
        z-index: 4;
    }

    &[data-pos="1"] {
        cursor: pointer;
        transform: translateX(40%) scale(.9);
        z-index: 4;
    }

    &[data-pos="-2"],
    &[data-pos="2"] {
        cursor: pointer;
        opacity: 0.4;
        filter: blur(3px) grayscale(20%);
    }

    &[data-pos="-2"] {
        cursor: pointer;
        transform: translateX(-70%) scale(.8);
        z-index: 3;
    }

    &[data-pos="2"] {
        cursor: pointer;
        transform: translateX(70%) scale(.8);
        z-index: 3;
    }
}


/* Блок */
.registration-box {
    min-width: 1440px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/Registration-background.svg);
}

/* Список */
.advantage-list {
    display: grid;
    grid-template-columns: 83px 175px 168px 37px 55px 130px 20px 148px 181px;
    grid-template-rows: 70px 32px 70px 69px 70px 9px 70px 127px 83px;
    padding: 95px 0 90px 0;
}

.advantage-list__item--1 {
    grid-area: 1 / 1 / 2 / 4;
}

.advantage-list__item--2 {
    grid-area: 3 / 5 / 4 / 9;
}

.advantage-list__item--3 {
    grid-area: 5 / 8 / 6 / 10;
}

.advantage-list__item--4 {
    grid-area: 7 / 2 / 8 / 6;
}

.advantage-list__item--5 {
    grid-area: 9 / 3 / 10 / 7;
}

/* Карточка */
.banner {
    background: #9b9b9b;
    border-radius: 43px;
    padding: 10px;
    width: 100%;
}

.banner__text {
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 18px;
}

.banner__text--right {
    justify-content: end;
}

.registration-button {
    background: #343434;
    border-radius: 10px;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    color: #fff;
    padding: 32px 55px;
}