header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100px;
  background: linear-gradient(360deg, #2d2b3e 0%, #474360 100%);
}

.header__nav-ul {
  display: flex;
  gap: 37px;
  list-style-type: none;
  padding: 0;
}

.header__nav-ul > li > a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  color: var(--background-color-header);
}

.header__button {
  font-family: var(--third-family);
  font-weight: 250;
  font-size: 1.8rem;
  color: #2e2c40;
  letter-spacing: 0.1px;
  font-stretch: semi-condensed;
}

header > nav {
  margin-left: 190px;
}

.logo {
  margin-left: 70px;
}

.header__button {
  min-width: 128px;
  min-height: 38px;
  border-radius: 10px;
  background-color: #d1ff83;
  color: #2e2c40;
  margin: 0px 64px 0px 64px;
  right: 0;
  font-family: var(--third-family);
}
