.Footer{
    padding-top: 38px;
}

.Footer__wrapper {
    background-color: var(--background-color-footer);
    padding: 72px 81px 90px 84px;
}

.Navigation__list-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 13px;
}

.List-first__item{
    margin-top: 7px;
}

.List-main__link{
    color: var(--text-color);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}
.List-first__link {
    color: var(--text-color);
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}